<form enctype="multipart/form-data" name="upload" action="{{ path('upload') }}" method="post">
    <input type="hidden" name="token" value="{{ csrf_token('upload') }}" /> <br>
    <input type="file" name="userfile" title="Choose file" /> <br>
    <input type="submit" value="Upload"/>
</form>