{% extends 'base.html.twig' %}

{% block title %}Edit Organizations{% endblock %}

{% block body %}
    <h1>Edit Organizations</h1>

    {{ include('organizations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('organizations_index') }}">back to list</a>

    {{ include('organizations/_delete_form.html.twig') }}
{% endblock %}
